root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{java,groovy,gradle,xml,html,js}]
indent_style = space
indent_size = 2

[**/StringComparisonRendering.groovy]
# The file contains important whitespace at the end of the line in a multi-line string.
# and editorconfig doesn't seem to respect multi-line strings.
trim_trailing_whitespace = false

[*.{kt,kts}]
ij_kotlin_allow_trailing_comma = false
ij_kotlin_allow_trailing_comma_on_call_site = false
