environment:
  JAVA_HOME: C:\Program Files\Java\jdk1.8.0

shallow_clone: true

build_script:
  - gradlew --no-daemon --version
  - gradlew --no-daemon appveyorCiBuild -Dscan

after_build:
# upload test results via rest-api
  - ps: |
        $wc = New-Object 'System.Net.WebClient'
        Get-ChildItem . -Name -Recurse 'TEST-*.xml'  |
        Foreach-Object {
            $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path $_))
        }

test: off

#test_script:
#  - gradlew test
