body {
  padding: 40px;
}

.label {
  vertical-align: middle;
}

li.element {
  list-style-image: none;
}

li.element {
  list-style-image: url(../img/glyphicons_circle_minus_small.png);
}

li.element.collapsed {
  list-style-image: url(../img/glyphicons_circle_plus_small.png);
}

.results.label {
  width: 1em;
  text-align: center;
}


