body {
  padding: 40px;
}

.label {
  vertical-align: middle;
}

li {
  list-style-image: none;
}

li.element {
  list-style-image: url(../img/glyphicons_circle_minus_small.png);
}

li.element.collapsed {
  list-style-image: url(../img/glyphicons_circle_plus_small.png);
}

/* ninjaCommander2 */

.results.passed {
  float: left;
  width: 1em;
  color: #468847;
}

.results.failed {
  float: left;
  width: 1em;
  color: #B94A48;
}

.results.skipped {
  float: left;
  width: 1em;
  color: #F89406;
}

/* ninjaCommander3 */

.results.label {
  width: 1em;
  text-align: center;
}


