name: 'Verify Branches and PRs'

on:
  push:
    branches-ignore:
      - master
      - gh-pages
  pull_request:
  merge_group:

# https://stackoverflow.com/a/72408109/16358266
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-and-verify:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest']
        variant: ['2.5', '3.0', '4.0']
        java: ['8', '11', '17', '22']
        exclude:
          - os: 'ubuntu-latest'
            variant: '2.5'
            java: '17'
          - os: 'ubuntu-latest'
            variant: '2.5'
            java: '22'
        include:
          - os: 'windows-latest'
            variant: '2.5'
            java: '8'
          - os: 'windows-latest'
            variant: '3.0'
            java: '8'
          - os: 'windows-latest'
            variant: '4.0'
            java: '8'
          - os: 'macos-latest'
            variant: '2.5'
            java: '8'
          - os: 'macos-latest'
            variant: '3.0'
            java: '8'
          - os: 'macos-latest'
            variant: '4.0'
            java: '8'
    steps:
      - uses: actions/checkout@v4
        with:
          # Codecov needs fetch-depth > 1
          fetch-depth: 2
      - name: 'Set up JDKs'
        uses: ./.github/actions/setup-build-env
        with:
          additional-java-version: ${{ matrix.java }}
      - name: 'Build Spock'
        # secrets are not injected for pull requests
        env:
          DEVELOCITY_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
        run: ./gradlew --stacktrace ghActionsBuild "-Dvariant=${{ matrix.variant }}" "-DjavaVersion=${{ matrix.java }}"
      - name: 'Upload to Codecov.io'
        uses: codecov/codecov-action@v4
