name: 'Verify Branches and PRs'

on:
  push:
    branches-ignore:
      - master
      - gh-pages
  pull_request:
    branches:
      - '*'

jobs:
  build-and-verify:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest']
        variant: ['2.5', '3.0']
        java: ['8', '11', '17']
        include:
          - os: 'windows-latest'
            variant: '2.5'
            java: '8'
          - os: 'windows-latest'
            variant: '3.0'
            java: '8'
          - os: 'macos-latest'
            variant: '2.5'
            java: '8'
          - os: 'macos-latest'
            variant: '3.0'
            java: '8'
    steps:
      - uses: actions/checkout@v2
        with:
          # Codecov needs fetch-depth > 1
          fetch-depth: 2
      - name: 'Set up JDK ${{ matrix.java }}'
        uses: actions/setup-java@v2
        if: matrix.java != 8
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}
      - name: 'Prepare JDK${{ matrix.java }} env var'
        shell: bash
        run: echo "JDK${{ matrix.java }}=$JAVA_HOME" >> $GITHUB_ENV
      - name: 'Set up JDK 8'
        uses: actions/setup-java@v2
        with:
          java-version: 8
          cache: 'gradle'
          distribution: 'adopt'
      - name: Prepare JDK8 env var
        shell: bash
        run: echo "JDK8=$JAVA_HOME" >> $GITHUB_ENV
      - name: 'Gradle Version'
        run: |
          ./gradlew --version
          ./gradlew javaToolchains
      - name: 'Build Spock'
        # secrets are not injected for pull requests
        env:
          ORG_GRADLE_PROJECT_spockBuildCacheUsername: ${{ secrets.SPOCK_BUILD_CACHE_USERNAME }}
          ORG_GRADLE_PROJECT_spockBuildCachePassword: ${{ secrets.SPOCK_BUILD_CACHE_PASSWORD }}
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
        run: |
          ./gradlew --no-parallel --stacktrace ghActionsBuild "-Dvariant=${{ matrix.variant }}" "-DjavaVersion=${{ matrix.java }}"
      - name: 'Stop Daemon'
        run: |
          ./gradlew --stop
      - name: 'Upload to Codecov.io'
        uses: codecov/codecov-action@v1
