name: 'CI Builds'

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  build-and-verify:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest']
        variant: ['2.5', '3.0']
        java: ['8', '11', '15']
        include:
          - os: 'windows-latest'
            variant: '2.5'
            java: '8'
          - os: 'windows-latest'
            variant: '3.0'
            java: '8'
          - os: 'macos-latest'
            variant: '2.5'
            java: '8'
          - os: 'macos-latest'
            variant: '3.0'
            java: '8'
    steps:
      - uses: actions/checkout@v2
        with:
          # Codecov needs fetch-depth > 1
          fetch-depth: 2
      - name: Cache Gradle wrapper and dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches/
            ~/.gradle/wrapper/dists
          key: test-${{ runner.os }}-variant-${{ matrix.variant }}-gradle-${{ hashFiles('**/*.gradle', '**/*.gradle.kts', '**/gradle.properties', 'gradle/**', 'buildSrc/src/main/**') }}
          restore-keys: |
            test-${{ runner.os }}-variant-${{ matrix.variant }}-
      - name: 'Set up JDK'
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: 'Build Spock'
        run: |
          ./gradlew --version
          ./gradlew --no-parallel --scan --stacktrace --warning-mode=all ghActionsBuild -Dvariant=${{ matrix.variant }}
          ./gradlew --stop
      - name: 'Upload to Codecov.io'
        shell: bash
        run: |
          bash <(curl -s https://codecov.io/bash)